.bg-custom {
	background: #283593 !important;
}

.navbar .nav-item .nav-link {
	font-size:20px;
	color:black;
}

.navbar .nav-item:hover .nav-link {
	background:#000040;
	color:black;
	border-radius: 10px;
}
